@import "../common/styles/sass/variables";

.header {
    height: 90px;
    background-color: $mainBlockColor;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-width: 360px;
}