.contactsBlock {
    height: 100vh;
    background-color: gainsboro;
    display: flex;
    justify-content: center;
}

.contactsContainer {
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
}

.title {
    border: 1px solid;
    display: flex;
    justify-content: center;
    justify-items: center;
}

.inputBlock {
    min-width: 288px;
    width: 80%;
    height: 60%;
    border: 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formBlock {
    min-width: 288px;
    border: 1px solid darkslategray;
    height: 50%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.formInput {
    width: 100%;
    height: 15%;
    font-size: large;
}

.formTextarea {
    width: 100%;
    height: 50%;
    font-size: large;
}

.sendButton {
    width: 100px;
    height: 30px;
    background-color: silver;
}