
.skill {
    min-width: 30%;
    max-width: 250px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon img {
    width: 100px;
    height: 100px;
    background-image: linear-gradient(45deg, #26ffe6 15%, #0075f2 65%);
    -webkit-background-clip: content;
    -webkit-text-fill-color: transparent;

}
.skill h4 {
    margin: 1.5rem 0;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.2;
    font-family: 'Poppins', sans-serif;
    color: #f5f5f5;
    word-wrap: break-word;
}

.skill p {
    p-size: 1rem;
    --p-weight: 400;
    color: #8e8e8e;
}