
.skillsBlock {
    margin: 0px;
    min-height: 100vh;
    background-color: #111111;
    display: flex;
    justify-content: center;
    min-width: 360px;
}

.skillsContainer {

    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: initial;

}
.title {
    border: 1px solid;
    justify-content: center;
}

.skills {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-around;
    text-align: center;
    flex-wrap: wrap;
}

