
.skillsBlock {
    margin: 0px;
    min-height: fit-content;
    background-color: #111111;
    display: flex;
    justify-content: center;
    min-width: 360px;
}

.skillsContainer {

    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: initial;

}

.title {
    color: #8e8e8e;;
    justify-content: center;
}

.skills {
    width: 100%;
    display: flex;
    justify-content: space-around;
    text-align: center;
    flex-wrap: wrap;
}



