
.skillsBlock {
    height: 100vh;
    background-color: gainsboro;
    display: flex;
    justify-content: center;
}

.skillsContainer {

    flex-direction: column;
    justify-content: flex-start;

}
.title {
    background-color: gray;
    justify-content: center;
}

.skills {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-around;
    text-align: center;
    flex-wrap: wrap;
}

