.project {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.projectPhoto {
    background-color: dimgray;
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.checkProject {
    color: black;
    background-color: gainsboro;
    border: 1px solid;
    text-decoration: none;
}
.projectName {
    background-color: lightsteelblue;
}
.projectDescription{
    background-color: gainsboro;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}