
.project {
    margin: 10px;
    min-width: 300px;
    width: 48%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    background-color: #eeeeee;
    border-radius: 20px;
}


.projectPhoto {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
}



.projectDescription h4 {
    color: #2f323a;
    font-size: 1.5rem;
    font-weight: 700;
    margin: 10px;

}

.projectDescription {
    color: #6f6f6f;;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;

}

.projectDescription p {
    font: 400 14px/1.8 'Poppins', sans-serif;
    p-size: 1rem;
    --p-weight: 400;
    color: #8e8e8e;
}


@media screen and (max-width: 1200px ){
.projectPhoto {
    margin: 10px;
    min-width: 300px;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 200px;
    background-color: #eeeeee;
    border-radius: 20px;
}
}