.project {
    min-width: 288px;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;

}


.projectPhoto {
    background-color: dimgray;
    width: 100%;
   height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.checkProject {
    color: black;
    background-color: gainsboro;
    border: 1px solid;
    text-decoration: none;
}
.projectName {
    width: 100%;
    background-color: lightsteelblue;
}
.projectDescription{
    width: 100%;
    background-color: gainsboro;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}