.nav {
    border: 1px solid darkgray;
    width: 300px;
    display: flex;
    justify-content: space-around;
    color: white;
    margin-right: 10%;
}
.nav a {
    color: white;
    text-decoration: none;
}