.nav {
    border: 1px solid #0075f2;;
    width: 300px;
    display: flex;
    justify-content: space-around;
    color:  #0075f2;
    margin-right: 10%;
}
.nav a {
    color: #0075f2;
    text-decoration: none;
}