.footerBlock {
    height: 30vh;
    background-color: darkgrey;
    display: flex;
    justify-content: center;
    min-width: 360px;
}

.contactsContainer{
    flex-direction: column;
    justify-content: center;
}
.title {
    margin: 20px;
    display: flex;
    justify-content: center;
    justify-items: center;
}
.socialMediaBlock {
    min-width: 240px;
    width: 25%;
    height: 40px;
    border: 1px solid;
    display: flex;
    justify-content: space-between;

}

.icon {
    background-color: lightsteelblue;
    border: 1px solid;
    width: 40px;
    height: 40px;
}


