.footerBlock {
    height: 30vh;
    background-color: darkgrey;
    display: flex;
    justify-content: center;
}

.contactsContainer{
    flex-direction: column;
    justify-content: center;
}
.title {
    margin: 20px;
    display: flex;
    justify-content: center;
    justify-items: center;
}
.socialMediaBlock {
    width: 350px;
    height: 50px;
    border: 1px solid;
    display: flex;
    justify-content: space-between;

}

.icon {
    background-color: lightsteelblue;
    border: 1px solid;
    width: 50px;
    height: 50px;
}


